<body>
  <div class="container">
  <div class="gallery">
    <figure class="gallery__item gallery__item--0">
    <h2>PHOTO FETCHER</h2>
  </figure>

  <figure class="gallery__item gallery__item--00">
    <div class="toggleicon">
      <input id="chck" type="checkbox">
      <label for="chck" class="check-trail">
        <span class="check-handler"></span>
      </label>
       <span class="photosinstruct">Make photos grayscale</span>
    </div>
  </figure>

  <figure class="gallery__item gallery__item--0B">
    <div class="buttonposition">
    <button class="button buttonB">Fetch New Photos</button>
    </div>
  </figure>


    <figure class="gallery__item gallery__item--1">
      <div class="cobox">
      <img src="assets/image-1.jpg" class="gallery__img" alt="Image 1">
      <div class="content">
        <h3 class="title">Lukas Budimaier</h3>
        <p class="urllink"><a href="https://f.aukro.cz/banner-images" target="_blank">https://f.aukro.cz/banner-images</a></p>
      </div>
      </div>
    </figure>


    <figure class="gallery__item gallery__item--2">
      <div class="cobox">
      <img src="assets/image-2.jpg" class="gallery__img" alt="Image 2">
      <div class="content">
        <h3 class="title">Lukas Budimaier</h3>
        <p class="urllink"><a href="https://f.aukro.cz/banner-images" target="_blank">https://f.aukro.cz/banner-images</a></p>
      </div>
      </div>
    </figure>


    <figure class="gallery__item gallery__item--3">
      <div class="cobox">
      <img src="assets/image-3.jpg" class="gallery__img" alt="Image 3">
      <div class="content">
        <h3 class="title">Lukas Budimaier</h3>
        <p class="urllink"><a href="https://f.aukro.cz/banner-images" target="_blank">https://f.aukro.cz/banner-images</a></p>
        <div class="vl"></div>
        <div class="vln"></div>
        <div class="hl"></div>
        <div class="hlnl"></div>
      </div>
      </div>
    </figure>


    <figure class="gallery__item gallery__item--4">
      <div class="cobox">
      <img src="assets/image-4.jpg" class="gallery__img" alt="Image 4">
      <div class="content">
        <h3 class="title">Lukas Budimaier</h3>
        <p class="urllink"><a href="https://f.aukro.cz/banner-images" target="_blank">https://f.aukro.cz/banner-images</a></p>
        <div class="hl"></div>
        <div class="hlnr"></div>
      </div>
    </div>
    </figure>
  </div>
  </div>
  </body>

